<!DOCTYPE html>
<html>
<head>
  <title>Campus Information</title>
</head>
<body>
  <form action="/campus" method="POST">
    <input type="text" name="campus" placeholder="New Campus Location">
    <button type="submit">Save</button>
  </form>
</body>
</html>